.bg-red {
  background-color: rgb(189, 30, 30);
}

.container {
  margin-top: 3%;
}

.btn-spacing {
  margin-right: 5px;
}


@media screen and (max-width: 768px) {
  #school-details {
    width: 97%;
    margin: 1.5%;
    h1 {
      font-size: 28px;
    }
  }
}